.container-fluid
  .box
    .row.list-inline.title Calculator
    .row.list-inline.result.h1
    .row.list-inline
      button.btn.btn-danger.custom.ac AC
      button.btn.btn-default.custom.sign +/-
      button.btn.btn-default.custom.operator.percent %
      button.btn.btn-warning.custom.operator.divide /
    
    .row.list-inline
      button.btn.btn-default.custom.number.seven 7
      button.btn.btn-default.custom.number.eight 8
      button.btn.btn-default.custom.number.nine 9
      button.btn.btn-warning.custom.operator.multiply x
    .row.list-inline
      button.btn.btn-default.custom.number.four 4
      button.btn.btn-default.custom.number.five 5
      button.btn.btn-default.custom.number.six 6
      button.btn.btn-warning.custom.operator.subtract -
    .row.list-inline
      button.btn.btn-default.custom.number.one 1
      button.btn.btn-default.custom.number.two 2
      button.btn.btn-default.custom.number.three 3
      button.btn.btn-warning.operator.custom.plus +
    .row.list-inline
      button.btn.btn-default.custom.number.zero 0
      button.btn.btn-default.custom.dot .
      button.btn.btn-danger.custom.equals =